<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joost.filmapplicatie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Filmapplicatie">

        <activity
            android:name=".Presentation.HomescreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Presentation.MovieListActivity"
            android:exported="false" />

        <activity
            android:name=".Presentation.MoviesActivity"
            android:exported="false"
            android:parentActivityName=".Presentation.MovieListActivity" />

        <activity
            android:name=".Presentation.MovieDetailActivity"
            android:exported="false"
            android:parentActivityName=".Presentation.MovieListActivity" />

        <activity
            android:name=".Presentation.CreateMovieList"
            android:exported="false"
            android:parentActivityName=".Presentation.MovieListActivity" />

        <activity
            android:name=".Presentation.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".Presentation.MovieListActivity" />

    </application>

</manifest>